*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #aeb0b2;
}
button{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    cursor: pointer;
}
h2 , h3{
    font-family: 'Poppins', sans-serif;
    color: hsl(192, 100%, 9%);
}
main{
    display: flex;
    flex-direction: column;
}
#button{
    margin-left: 70%;
}
#div1{
    display:block;
    text-align:left;
    padding-right: 70px;
}
#div1 h2{
    margin-top: 40px;
    margin-bottom: 20px;
    margin-right: 30px;
    font-size: 40px;
}
#div1 p{
    color:hsl(192, 100%, 9%);
}
section p{
    margin-bottom:25px;
}
section{
    line-height:1.8;
}
button{
    outline: none;
    border: none;
    -webkit-tap-highlight-color: transparent;
}
.b1{
    padding: 20px 60px;
    border-radius: 30px;
    text-align: center;
}
#try{
   background-color: #ffffff;
   padding: 15px 30px;
   box-shadow: 0 3px 5px 2px #dee9ed ;
   color: #05232b;
   transition: all 1s linear 0s;
}
#try:focus{
   background-color: green;
   color: white;
   text-decoration-line: blink;
}
.getstarted, #getstarted{
    color: #ffffff;
    background-color: hsl(322, 100%, 66%);
    box-shadow: 0 3px 5px 2px #dee9ed ;
}
#getstarted2{
    padding: 20px 50px;
    border-radius: 30px;
}
div , section {
    display: flex;
}
.getstarted:hover ,#getstarted:hover{
    background-color: #ff99db;
}
header{
    background-image: url(bg-hero-desktop.svg) ;
    background-color:  hsl(193, 100%, 96%);
    background-repeat: no-repeat;
    padding-top: 40px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 30px;
    margin-bottom: 70px;
}
#header{
    margin-bottom: 50px;
    display:flex;
    align-items: center;
}
.container{
    width : 70%;
    border: 1px solid #f7f7f7;
    margin: auto;
    box-shadow: 0 0 10px #f7f7f7 ;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom:20px;
    padding: 50px;
    padding-right: 30px;
    background-color: #ffffff;
}
.subcontainer{
    display: block;
    padding-left: 50px;
    padding-right: 30px;
    margin-top: 70px;
    line-height:1.8;
}
.subcontainer h3{
    margin-bottom: 10px;
}
.subcontainer p{
    margin-right: 40px;
}
.container #flow{
    margin-right: 5px;
    margin-left: 90px;
}
#container2{
    display:block;
    text-align: center;
    width : 40%;
    border: 1px solid #f7f7f7;
    margin: auto;
    box-shadow: 0 0 3px hsl(193, 100%, 96%) ;
    border-radius: 10px;
    margin-top: 70px;
    margin-bottom:-80px;
    padding: 20px;
    padding-top: 50px;
    background-color: #ffffff;
    position: relative;
    z-index: 1;
}
#container2 h3{
    margin-bottom: 20px;
}
#ill1{
    width: 600px;
    padding-left: 20px;
}
.ill{
    width: 300px;
}
footer{
    background-color: hsl(192, 100%, 9%);
    padding-top: 100px;
    padding-bottom:100px; 
}
.footer{
    padding-top: 50px;
    color:#f9fcfe ;
    padding: 50px;
    position: relative;
    z-index:0;
    display: flex;
}
footer #fimage{
    filter: brightness(0) invert(1);
    padding-left: 90px ;
}
.fdiv{
    display:flex;
    flex-direction: column;
    margin: 50px;
}
#fdiv2 ul, #fdiv3 ul {
    list-style-type:none;
}
#fdiv2 , #fdiv3{
    width: 20%;
}
#fdiv1{
    flex-direction: column;
    width: 100%;
}
#fdiv1 .text2 {
    display:none;
}
footer table td{
    padding: 25px;
    vertical-align: top;
    padding-top: 0px;
    padding-left: 0px;

}
#fdiv4{
    flex-direction: row;
}
#fdiv4 div{
    margin: 5px;
    margin-right: 20px;
    width: 30px;
    height: 30px;
    border: 2px solid #ffffff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#fdiv4 i {
    cursor:pointer;
    -webkit-tap-highlight-color: transparent;
}
#fdiv4 div:hover{
    color: hsl(322, 100%, 66%) ;
    border: 2px solid hsl(322, 100%, 66%);
}
#fdiv5{
    color:#f9fcfe ;
   margin-left: 75%;
}

@media (max-width: 375px) {
    body{
        width:100%;
    }
    header{
        padding: 30px;
    }
    #button{
        margin-left: 80px;
    }
    #header{
        width: 100%;
    }
    #div1{
        padding-right: 0;
    }
    #header img{
        width: 120px;
        height: 20px;
    }
    #try{
        padding: 5px 16px;
    }
    section{
        flex-flow: column wrap;
        align-content: center;
    }
    #ill1{
        padding-top: 15px;
        width: 300px;
    }
    #div1{
        text-align:center;
    }
    #div1 h2{
        font-size: 25px;
        margin: 0px;
        line-height:1.5;
        margin-bottom: 20px;
    }
    .ill{
        width: 250px;
    }
    .container{
        flex-direction: column-reverse; 
    }
    #c2{
        flex-direction: column;
    }
    .subcontainer{
        padding: 20px;
        text-align: center;
    }
    .subcontainer{
        padding-left: 0px;
        padding-right: 0px;
        margin-top: 50px;
        width: 100%;
    }
    .subcontainer p{
        margin-right: 0px;
    }
    .container #flow{
        margin-right: 0;
        margin-left: 0;
    }
    #container2{
        width: 85%; 
        font-size:15px
    }
    #getstarted2{
        padding: 20px 30px;
        border-radius: 30px;
    }
    .footer{
        flex-direction:column;
        padding: 15px;
    }
    .fdiv{
        margin: 0px;
    }
    footer #fimage{
        padding-left: 15px ;
        padding-top: 30px;
        width: 145px;
    }
    #fdiv1 .text1{
        display: none;
    }
    #fdiv1 .text2{
        display: inline-block;
    }
    #fdiv2 , #fdiv3{
        width: 50%;
    }
    #fdiv5{
        margin-left: 50px;
        margin-right: 50px;
        font-size: 15px;
    }
    #fdiv4{
        margin-top: 30px,;
        align-self: center;
    }
}